.loader {
  border: 16px solid #fff; /* White */
  border-top: 16px solid #eb5202; /* Orange */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.loader-holder {
  padding: 10% 45%;
  background: #f8f8f8;
  border: 1px solid #ccc;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}