<div id="iw-container">
    <div class="iw-title"><%= data.marker.name %></div>
    <div class="iw-content">
        <div class="iw-content-border iw-content-padding shop-top">
            <% if (data.marker.image) { %>
            <div class="iw-image"><img src="https://via.placeholder.com/418x100" height="150" width="100%"></div>
            <% } %>
            <div class="shop-address">
                <p class="organisation"><%= data.marker.store %></p>
                <p class="drop-point-id"><%= data.marker.id %>
                <address class="iw-address">
                    <%= data.addressHtml %>
                </address>
            </div>
            <button type="button" data-role="toggleTimesBtn" class="button mobile-only"><%= data.openingText %></button>
        </div>
        <div class="shop-middle">
            <div class="store-times" style="display: none;">
                <%= data.scheduleHtml %>
            </div>
        </div>
        <div class="shop-bottom">
            <button type="button"
                    data-drop-point-id="<%= data.marker.id %>"
                    class="button action primary"><%= data.selectButtonText %>
            </button>
        </div>
    </div>
</div>
