<fieldset id="deliver-to-fieldset" class="fieldset">
<div class="step-title" data-role="title" data-bind="i18n: 'Where to ship'"></div>
<div class="col-mp mp-12">
    <input type="radio" name="deliver_to" value="address" data-bind="checked: checkDeliverTo, attr: {id: 'place-order-deliver_to_address'}"/>
    <label data-bind="attr: {for: 'place-order-deliver_to_address'}"><span data-bind="i18n: 'Postal address'"></span></label>
</div>
<div class="col-mp mp-12">
    <input type="radio" name="deliver_to" value="pickup" data-bind="checked: checkDeliverTo, attr: {id: 'place-order-deliver_to_pickup'}"/>
    <label data-bind="attr: {for: 'place-order-deliver_to_pickup'}"><span data-bind="i18n: 'Local collection point'"></span></label>
</div>
</fieldset>