<?php
$url = $block->getIntegrationUrl() . '/magento/configure';

if(!empty($block->getToken())) {
    $url .= '/' . $block->getToken();
}

$url .= '?embeded=1&version=' . $block->getVersion();

?>
<div id="nshift-shipping-profiles" class="block-content">
    <div class="loader-holder">
        <div class="loader"></div>
    </div>
</div>
<script>
jQuery('#nshift-shipping-profiles').load('<?php echo $url; ?>');
</script>
<div class="version" style="float:right;">
    Module version: <?php echo $block->getVersion(); ?>
</div>