<?php
$url = $block->getIntegrationUrl() . '/magento/orders';

if(!empty($block->getToken())) {
    $url .= '/' . $block->getToken();
}

$url .= '?embeded=1&version=' . $block->getVersion();

if(!empty($block->getData('order_ids'))){
    $url .= '&order_ids=' . $block->getData('order_ids');
}

?>
<div id="nshift-ship-orders" class="block-content">
    <div class="loader-holder">
        <div class="loader"></div>
    </div>
</div>
<script>
jQuery('#nshift-ship-orders').load('<?php echo $url; ?>');
</script>
<div class="version" style="float:right;">
    Module version: <?php echo $block->getVersion(); ?>
</div>