<div id="checkout-shipping-method-load">
    <div class="sp-methods">
        <dl class="items methods"
            data-bind="foreach: shippingRateGroups">
            <dd class="item-options" data-bind="foreach: { data:$parent.getRatesForGroup($data.carrier), as: 'method' }">
                <!--ko template: { name: element.shippingMethodItemTemplate} --><!-- /ko -->
            </dd>
        </dl>
    </div>
</div>
