<form id="co-shipping-method-form--defacto" data-bind="blockLoader: isLoading, visible: isVisible()">
    <each args="getRegion('before-rates')" render="" />
    <p class="field note" data-bind="visible: (!isLoading() && shippingRates().length <= 0)">
        <!-- ko text: $t('Sorry, no quotes are available for this order at this time')--><!-- /ko -->
    </p>
    <fieldset class="fieldset rate" data-bind="visible: (shippingRates().length > 0)">
        <dl class="items methods"
            data-bind="foreach: shippingRateGroups">
            <if args="typeof $parent.getRatesForGroup($data)[0] !== 'undefined'">
                <dt class="item-title" attr="'class': 'carrier_' + $parent.getRatesForGroup($data)[0].carrier_code">
                    <img class="carrier-icon"
                         attr="'src': 'https://integration.consignor.com/magento/images/carriers/'+ $data +'.png'"
                         width="75" style="display:none;" />
                    <span data-bind="text: $data"></span>
                </dt>
            </if>
            <if args="typeof $parent.getRatesForGroup($data)[0] === 'undefined'">
                <dt class="item-title">
                    <span data-bind="text: $data"></span>
                </dt>
            </if>
            <dd class="item-options" data-bind="foreach: { data:$parent.getRatesForGroup($data), as: 'method' }">
                <div data-bind="css: {'field choice item': available, 'message error': !available} ">
                    <!-- ko ifnot: (available) -->
                    <div data-bind="text: error_message"></div>
                    <!-- /ko -->
                    <!-- ko if: (available) -->
                    <input type="radio"
                           class="radio"
                           data-bind="
                                click: $parents[1].selectShippingMethod,
                                checked: $parents[1].selectedShippingMethod,
                                attr: {
                                        value: carrier_code + '_' + method_code,
                                        id: 's_method_' + carrier_code + '_' + method_code
                                        }
                                "/>
                    <label class="label" data-bind="attr: {for: 's_method_' + carrier_code + '_' + method_code}">
                        <!-- ko text: $data.method_title --><!-- /ko -->
                        <each args="element.getRegion('price')" render="" />
                    </label>
                    <p class="description" if="method.extension_attributes.description"
                       html="method.extension_attributes.description"></p>
                    <each args="element.getRegion('additional')" render="" />
                    <!-- /ko -->
                </div>
            </dd>
        </dl>
    </fieldset>
</form>
