@nshiftintegration-icons-admin__font-name-path: '@{baseDir}Nshift_Integration/fonts/nshift';
@nshiftintegration-icons-admin__font-name : 'Nshift';
.lib-font-face(
  @family-name:@nshiftintegration-icons-admin__font-name,
  @font-path: @nshiftintegration-icons-admin__font-name-path,
  @font-weight: normal,
  @font-style: normal
);
.admin__menu .item-nshift.parent.level-0 > a:before {
  font-family: @nshiftintegration-icons-admin__font-name;
  content: "\0041";
}